<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta name="keywords" content="Wheels Auto, wheels, review wheels auto, wheels offer, wheels package, performance wheels">
        <meta name="description" content="Performance wheels are a great way to accelerate your car or truck. The right wheels can make a world of difference.">
        <title>Wheels Auto - error</title>
        <link rel="stylesheet" type="text/css" href="Resources/CSS/error.css" > 
        <%- include("../fragments/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragments/header.ejs");  %> 

    <main>
        <div id="err-columns">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragments/footer.ejs");  %> 


    </body>
</html>