<!DOCTYPE html>
<!-- 1) Am setat limba -->
<html lang="en">
    <head>
        <!-- 2) -->
        <title>Performance Wheels</title>
        <meta name="keywords" content="Wheels Auto, wheels, review wheels auto, wheels offer, wheels package, performance wheels">
        <meta name="description" content="Performance wheels are a great way to accelerate your car or truck. The right wheels can make a world of difference.">
        <style class="hid">
            * {
                margin: 0;
                padding: 0;
            }
            .cars{
                background-image: url("Resources/Images/supercars.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                /** ia 100% procent din viewport **/
                height: 100vh;
            }
            </style>
        <!-- includem head -->
        <%- include("../fragments/head.ejs") %>   
    </head>
    <!-- 4) impartire body -->
    <body>
        <!-- includem header -->
        <%- include("../fragments/header.ejs") %>    
        <div class="cars">
            <div class="container">
                <label id="switch" class="switch">
                        <input type="checkbox" onchange="myFunction()" id="slider">
                        <span class="slider round"></span>
                    </label>
                <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->
              </div>
              <script>
                    function myFunction() {
                        var element = document.body;
                        element.classList.toggle("dark-mode");}
              </script>
        </div>
        <main>
            <!-- 6 - 7 impartire in headere + minim 2 taguri per section  -->
            <!-- Etapa 2 impartire grid -->  
            <div id="grid-pag">
                <section id="alloy">
                    <h2>Alloy Wheels</h2>
                    <p>Are alloy wheels for you? You can use these wheels to upgrade your engine and improve power and acceleration.</p>
                    <blockquote cite="https://www.munstertyresandservicing.co.uk/news/why-choose-alloy-wheels/">It goes without saying that the wheels are one of the most important parts of your car, responsible for transferring the engine's power to the road and steering, as well as ensuring your ride isn't too bumpy.</blockquote>
                    <!-- am pus ip
                        locals e ob pe care-l transmitem ca al 2 parametru in render
                    -->
                    <p>Ip: <%- locals.ip %></p>
                    <p id="watermark"></p>
                    <div class="hid">
                        <figure style="width: 20%;">
                            <picture>
                                <source srcset="Resources/Images/Proline700px.jpg" media="(max-width: 700px)" /> 
                                <source srcset="Resources/Images/Proline1200px.jpg" media="(max-width: 1200px)" />
                                <img src="Resources/Images/ProlineUX100.jpg" style="width: 100%;" alt="Proline UX100 Black Glossy" />
                                <!-- alt = daca nu apare poza primim un mesaj -->
                            </picture>
                            <figcaption style="text-align: center; color:black; width: 100%;">Proline UX100 Black Glossy</figcaption>
                            <!-- pt adaugare titlu centrat -->
                        </figure>
                    </div>
                    <br>
                    <br>
                    <br>
                </section>
                <section id="steel">
                    <h2>Steel Wheels</h2>
                    <p class="c1 c2 c3"></p>
                    <p class="c1 c3"></p>
                    <p>Steel wheels are available in a variety of designs and sizes. Here are a few of the design types.</p>
                    <blockquote cite="https://www.blackburnwheels.com/alloy-wheels-vs-steel-wheels-pros-cons-guide/">For drivers looking for a cheaper more durable alternative, steel wheels are the way to go. Steel wheels are significantly an ideal choice for use in the Winter and for more powerful vehicles.</blockquote>
                    <!-- 8) adaugare poza + redimensionari-->
                    <!-- daca exista proprietatea timp si daca prop asta are timpul curent -->
                    <div id="grid-galerie">
                        <% for (let imag of locals.images) { 
                            //var d = new Date();
                            //var timp = ["00:00-23:59"];
                            //var time = timp[d.getHours() + ":" + d.getMinutes()];
                            //if (imag.timp && imag.timp.includes(time)) { %>
                                <figure>
                                    <picture>
                                        <source srcset="<%- imag.medium_file %>" media="(max-width: 1000px)" />
                                        <img src="<%- imag.fisier %>" alt="<%- imag.titlu %> ">
                                    </picture>
                                    <figcaption><%- imag.descriere %> </figcaption>
                                </figure> 
                        <% } %>
                    </div>
                    <br>
                    <br>
                    <br>
                </section>
                <section id="packages">
                    <h2>Packages</h2>
                    <p>Wheels packages are easy to make and often serve as elegant and affordable gifts. Here's how to put them together.</p>
                    <!-- description list -->
                    <dl>
                        <!-- 10 c) atentionare cu bold || e) taiere si inlocuire text -->
                        <dt><strong>4 Alloy Wheels Package</strong></dt>
                        <!-- strong iti bolduieste -->
                        <dd>Improve your car performance - Limited offer <s>20%</s> <ins>45%</ins></dd>
                        <!-- s iti taie scrisul, iar ins ti-l inlocuieste pe acela taiat -->
                        <dt><strong>Double pack of two steel wheels</strong></dt>
                        <dd>Improve your car performance - Limited offer <s>30%</s> <ins>55%</ins></dd>
                    </dl>
                    <!-- 11 d) download tag -->
                    <p>Also check our special prices</p>
                    <!-- 12) summary/details -->
                    <details>
                        <!-- details face acel open-close -->
                        <summary>Silver</summary>
                        <p>WH24 Silver</p>
                    </details>
                    <details>
                        <summary>Black</summary>
                        <p>Evo Black Mirror</p>
                    </details>
                    <div class="hid">
                        <a href="Resources/Images/special.jpg" download>
                            <img src="Resources/Images/special.jpg" alt="Special price">
                        </a>
                    </div>
                    <br>
                    <br>
                    <br>
                </section>
                <section id="reviews">
                    <h2>Reviews</h2>
                    <p>Wheels is a new way of looking at the world. Here you can find some reviews of the best wheels on the market.</p>
                    <dl>
                        <dt>Anonymous user ☆☆☆☆☆</dt>
                        <!-- 10 a) bolduit cu <b> -->
                        <dd><b>Diversity and innovation. Family feel.</b></dd>
                        <dt>Anonymous user ☆☆☆☆☆</dt>
                        <dd><b>Great support from supervision and team.</b></dd>
                        <dt>Anonymous user ☆☆☆☆☆</dt>
                        <dd><b>Great work environment and kind coworkers.</b></dd>
                    </dl>
                    <br>
                    <br>
                    <br>
                </section>
                <section id="delivery">
                    <div class="hid">
                        <img src="Resources/Images/delivery.png" style="width: 100%;" alt="Delivery Informations" />
                    </div>
                    <p><b>Great delivery services☆☆☆</b></p> 
                </section>
                <section id="topSell">
                    <h2>Top Selling Wheels</h2>
                    <p>Wheels by the ultimate wheel builder made by the pros, for the pros.</p>
                    <ol>
                        <li>Angel Black Polished - By GMP Italia</li>
                        <li>Stellar Black Polished - By GMP Italia</li>
                        <li>Motion 2 Black Red Lip  - By Calibre</li>
                    </ol>
                    <!-- 11 a) link catre alt site -->
                    <p>To make sure you make the right choice we have prepared a guide for sizing below.</p>
                    <p>Take a look <a href="https://www.wikihow.com/Select-Rims-for-Your-Car" target="_blank"><b>here</b>.</a></p>
                    <!-- 12 b) adaugare video + adaugare link-uri catre 2 video-uri -->
                    <p>Inspired by the most recognized partner ⚙️</p> 
                    <div class="hid">
                        <iframe class="vidd" name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/YcdiMdxxTXk" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="tabs-iframe ">
                            <a target="ifr-video" href="https://www.youtube.com/embed/YcdiMdxxTXk">Pro 1</a>
                            <a target="ifr-video" href="https://www.youtube.com/embed/yuosBPtaSXs">Pro 2</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                </section>
                <section id="newsletter">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our newsletter and get 5% extra discount on your purchases <button class="btn btn-primary">Subscribe here</button></p>
                    <video class="hid" width="320" height="240" controls preload="none" poster="Resources/Images/bmw.jpg">
                        <source src="Resources/Videos/BMWwheels_presentation-L'Export_Solutions™.mp4" type="video/mp4">
                        <source src="Resources/Videos/BMWwheels_presentation-L'Export_Solutions™.avi" type="video/avi">
                        <track label="English" kind="subtitles" srclang="en" src="Resources/Vtt/WEBVTT.vtt" default>
                        <track label="Romanian" kind="subtitles" srclang="ro" src="Resources/Vtt/WEBVTTro.vtt">
                    </video>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </section>
                <section id="prizes">
                    <p>When you subscribe to our newsletter you will automatically be entered into our raffle for a set of limited edition aluminium wheels </p>
                    <div id="container">
                        <div id="text">
                            Winners Table
                            <div id="reflected-text">Winners Table</div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="scrollbar">
                    <table class="winners-table">
                        <caption><b>Monthly Winners</b></caption>
                        <thead>
                            <!-- tr->defineste rand || th->defineste o celula header  -->
                            <tr>
                                <th>ID</th>
                                <th>Winner</th>
                                <th>City</th>
                                <th>Prize</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even">
                                <td>001</td>
                                <td>Jhonny</td>
                                <td>Nice</td>
                                <td>Bola FP2 (FORGED) Custom Colour</td>
                            </tr>
                            <tr class="odd">
                                <td>002</td>
                                <td>Juan Angel</td>
                                <td>Granada</td>
                                <td>Judd Model One Gloss Black </td>
                            </tr>
                            <tr class="even">
                                <td>003</td>
                                <td>Emilio Lasso</td>
                                <td>Lisbon</td>
                                <td>Vossen Forged CG-204 Custom Colour Wider Rear</td>
                            </tr>
                            <tr class="odd">
                                <td>004</td>
                                <td>Brian Wilson</td>
                                <td>Atlanta</td>
                                <td>Romac Diablo Black Polished Wider Rear</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="cell" colspan="4">Prizes Value: 22.000€</td>
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                    <div id="image1"></div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </section>
            </div>
        </main>
        <!-- includem si footerul -->
        <%- include("../fragments/footer.ejs") %>   
    </body>
</html>
