<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta name="description" content="Performance Wheels - sign up">
        <meta name="keywords" content="Performance, Wheels, sign up">
        <!--
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" /> -->
        <title>Performance Wheels - Sign Up </title>
        <%- include("../fragments/head") %>     
        <script type="text/javascript" src=/Resources/js/inregistrare.js></script>
    </head>
    <body>
    <%- include("../fragments/header") %>

    <main>
    <div class="afisaj">
        <h1>Sign Up</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragments/formular", {action: "/inregistrare"}) %>
        <% } %>
        
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </div>
</main>

<footer>
    <%- include("../fragments/footer") %>
</footer>

</body>
</html>